<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create an Entry in Directory</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>

    <form class="form-group" action="/" method="post" encType="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="">
      <label for="born">Born</label>
      <input type="date" class="form-control" name="born" value="">
      <label for="died">Died</label>
      <input type="date" class="form-control" name="died" value="">
      <label for="nationality">Nationality</label>
      <input type="text" class="form-control" name="nationality" value="">
      <input type="file" name="sampleFile" />

      <input type="submit" name="" value="Create!">
    </form>

    <a href="http://localhost:3000/">Cancel Create</a>


  </body>
</html>
