<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directory</title>
  </head>
  <body>
    <h1>Mathematician Directory</h1>
    {{#data}}
    <dl class="">
      <a href="http://localhost:3000/update/{{_id}}">Update</a>
      <dt>Name</dt>
        <dd>{{name}}</dd>
      <dt>Born</dt>
        <dd>{{born}}</dd>
      <dt>Died</dt>
        <dd>{{died}}</dd>
      <dt>Known For</dt>
        <dd>{{known_for}}</dd>
      <dt>Wikipedia</dt>
        <dd>{{wikipedia_link}}</dd>
    </dl>
    {{/data}}
  </body>
</html>
