<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directory</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Mathematician Directory</h1>

    <p> <a href="http://localhost:3000/">View All Mathematicians</a> </p>
    <p> <a href="http://localhost:3000/create">Create New Mathematician</a> </p>


    {{#data}}
    <dl class="mathematician">
      <a href="http://localhost:3000/update/{{_id}}">Update</a>
      <a href="http://localhost:3000/delete/{{_id}}">Delete</a>
      <dt>Name</dt>
        <dd><a href="http://localhost:3000/id/{{_id}}">{{name}}</a></dd>
      <dt>Born</dt>
        <dd>{{bornDate}}</dd>
      <dt>Died</dt>
        <dd>{{diedDate}}</dd>
      <dt>Known For</dt>
        <dd><ul>{{#known_for}}
              <li>{{.}}</li>
            {{/known_for}}
          </ul>
        </dd>
      <dt>Wikipedia</dt>
        <dd><a href="{{wikipedia_link}}">Wikipedia</a></dd>
    </dl>
    {{/data}}
  </body>
</html>
